<p>
  <input type="text" [(ngModel)] = "imgParent" />
</p>

<app-img (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<app-product [product]="product" *ngFor="let product of products"></app-product>
<!-- <app-product></app-product> -->
